body {
  font-family: "DM Mono", monospace;
  font-family: "Playpen Sans", cursive;
  background-color: #373b44;
}

a {
  color: rgb(75, 104, 128);
}

.all-objects {
  max-width: 600px;
  margin: 50px auto;
  padding: 0 0 25px 0;
  background-color: #b9b9b9;
  box-shadow: 1px 3px 15px 10px rgba(165, 165, 165, 0.3);
  border-radius: 15px;
  padding: 30px;
}

header {
  border-bottom: 0.5px solid #7c7c7c;
  padding-bottom: 10px;
}

.sf-input {
  background-color: #373b44;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid rgb(75, 104, 128);
}

.sf-button {
  background-color: rgb(75, 104, 128);
  border: none;
  border-radius: 5px;
  width: 25%;
  padding: 10px 15px;
  font-size: 15px;
  margin-left: 10px;
  border: 1px solid #000;
}

.sf-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(97, 125, 148);
  border: 1px solid #fff;
}

.wa-data {
  display: flex;
  justify-content: space-between;
}

.city-name {
  font-size: 36px;
  line-height: 60px;
  font-weight: 600;
  margin: 0;
}

.details {
  font-family: sans-serif;
  color: #25303f;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.blue {
  font-weight: 500;
  color: hsl(209, 82%, 34%);
}

.commas {
  font-weight: 700;
  color: #000;
}

.temperature {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  margin: 30px;
}

.wrapper {
  display: flex;
}

.temperature {
  font-weight: 700;
  font-size: 60px;
  margin-left: 0;
  margin-right: 0;
}

.temperature .active:hover {
  text-decoration: none;
}

.icon {
  font-size: 44px;
  width: 88px;
  height: 88px;
  margin-top: 12px;
  margin-right: 0px;
}

.unit {
  font-size: 25px;
  margin-top: 20px;
}

.wf {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 20px;
  color: #25303f;
  opacity: 0.9;
}

.wficon {
  font-size: 35px;
}

.fts {
  font-size: 15px;
}

.fts-min {
  opacity: 0.55;
}

footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-top: 0.5px solid #7c7c7c;
  padding: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.7);
}
